<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  
     

    <title>Document</title>
</head>
<body>

      {{>navbar}}

       {{!-- head starts --}}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

              <div class="row">
          <div class="col-md-6 col-12 head-text order-md-0 order-1">


            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <h1> Wanna Solve a Questions </h1>
              </a>
              <a href="/Palidrome" class="list-group-item list-group-item-action">If string is a plaindrome</a>
              <a href="/Validate" class="list-group-item list-group-item-action">Validate BST</a>

            </div>





            </div>


               {{!-- right side --}}


                      <div class="col-md-6 col-12 head-text order-md-1 order-0">


                        <figure>
                          <img src="images/growth.svg" alt="head_image">
                        </figure>





        </div>








            </div>
        </div>
    </div>

    </div>





    {{!-- head end --}}

    

















   <script src = "../jq/jquery.js" type = "text/javascript" > </script>
  <script src="../js/bootstrap.js" type = "text/javascript" > </script>

</body>
</html>