<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">


    <title>Document</title>
</head>

<body>

    {{>navbar}}

    <div class="container-fluid mt-5 palidrome-style " id="validateid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 head-text order-md-0 order-1">

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                <h1> Here Is Your Questions </h1>

                            </a>

                            <p class="fw-bold"></p>
                            <p class="fw-bolder">Validate Binary Search Tree</p>
                            <p class="fst-normal">A BST is valid if it has the following properties: All nodes in the
                                left subtree have values less than the node's value. All nodes in the right subtree have
                                values greater than the node's value. Both left and right subtrees are also binary
                                search trees.</p>
 
                            <p>Given the <code>root </code>of a binary tree, <code>determine</code><em> if it is a
                                    <strong>valid binary search tree (BST).</strong></em></p>

                            <p><strong>Constraints:</strong></p>
                            <ul>
                                <li>The number of nodes in the tree is in the range 
                                    <code> [1, 10] <sup> 5 </sup></code>
                                </li>
                                <li>
                                    <code></code> -231 <= Node.val <= 231 - 1
                                </li>
                            </ul>
                            <form action="/" method="POST">

                            <div class="form-group">

                                 <label for="examplefeedback1">Feedback</label>
                  <input type="feedback" class="form-control" id="examplefeedback1" placeholder="feedback"
                    name="feedback">

                  <label for="examplequestion1">Question Name</label>
                  <input type="question" class="form-control" id="examplequestion1" placeholder="question"
                    name="question">


                </div>

                <hr> 


                <div class="form-group">
                        <label for="message"></label>
                        <textarea cols="90" rows="10" placeholder="code" name="code" ></textarea>
                    </div>






                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Confirm</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>


                        </div>









                    </div>




                    <div class="col-md-6 col-12 head-text order-md-1 order-0">
                    </div>
                </div>
            </div>

        </div>
    </div>




















    <script src="../jq/jquery.js" type="text/javascript"> </script>
    <script src="../js/bootstrap.js" type="text/javascript"> </script>

</body>

</html>